body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; 

    background-color: #C1D7AE;
}

#mapContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    padding: 10px;
}

#map { 
    width: 100%;
    height: 100%; 
    border-radius: 20px; 
    border: 5px dashed #8CC084;
    box-sizing: border-box; 
}

#mapContainerHeader{
    background-color: #C1D7AE;
    font-family: "Monoton", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    font-size: 5vh;
     text-shadow: 
        0 0 5px #8CC084, 
        0 0 5px #8CC084, 
        0 0 5px #8CC084, 
        0 0 5px #8CC084;

    border-radius: 25px; 
    border: 5px dashed #8CC084;
    padding: 0 0.8vw;
    top: 20px;

    position: absolute;
    z-index: 999;
    pointer-events: none; 
}

#sideMenu{
    width: 25%;
    height: 100%;
    background-color: rgba(255, 255, 255, .7);
    position: relative;
    z-index: 999;

    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 0 20px 20px 0;

    transition: width 0.3s ease;
    cursor: default;
}

#sideMenu.collapsed {
    width: 0; 
    border: none;
    .selector{
        display: none;
    }
}

.selector{
    background-color: white;
    color: #8CC084;
    font-size: 3vh;
    border-radius: 25px; 
    border: 2px solid white; 

    position: relative;
    top:2vw;
    width: 15vw;       
    text-align: center;  
    word-break: break-word;
    padding: 0.25vh 0;
    cursor: pointer;
}
/* issue is that the filter and chatbot thing opens by stretching the "buttons" 
so i need to check that they're not active   */
#filters:hover, #chatbot:hover, #report:hover{
    &.selector:not(.active){
        background-color: #8CC084;
    color: white;
    border: .125vw solid white; 
     box-shadow: rgba(0, 0, 0, 0.3) 0px 7px 29px 0px;
     transition-duration: 0.4s;
    }
}

#filters{
    margin-top: 2vh;
    /* when active the margin top from before messes with it so  */
    &.selector.active {margin-top: 0;}
}

#report{
    margin-top: 2vh;
    &.selector.active {margin-top: 0;}
}

/* hide inside page when not opened yet */
.insidePage {
    display: none; 
    flex-direction: column; 
    gap: 15px;              
    padding: 20px;
}

/* Hide inactive selector  */
.hidden { 
    display: none; 
}

/* keep back button hidden as default */
.backBtn {
    display: none;
    margin-bottom: 10px;
    cursor: pointer;
}

/* when opened make selector fill sidemenu */
.selector.active {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 25px; 
    background: white;
    cursor: default;
    padding: 20px;
    box-sizing: border-box;
}

/*show inside page when active*/
.selector.active .insidePage {
    display: flex;
    flex-direction: column; 
    
    gap: 10px;
}
.moveLeft{
    align-items: flex-start; 
    text-align: left;
}
.durationType{
    font-size: .9vw;
}
/*also show backbutton when active */
.selector.active .backBtn {
    display: block;
}
#submitReport{
    background-color: #C1D7AE;
    border-radius: 20px;
    padding: .75vw;
    font-size: .8vw;
    color: white;
    /* border-color: white; */
    border: dashed #8CC084;
}
/*hide the labels when its active*/
.selector.active .label {
    display: none;
}
.tag{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 5px 0;
}
#toggle{
    background-color: white;
    border: 2px solid white; 
    border-radius: 15px;
    color: #8CC084;
    font-size: 3vw;

    position: absolute;
    left: 100%;
    top: 80px;
    margin-left: 10px;
    cursor: pointer;
}

#toggle.opened{
    top: 10px;
}

#toggle:hover{
    content: "";
    background: #8CC084;
    color: white;
    
    transition: all 0.5s
}

.insideTitle{
    margin-top: 0;
    font-size: 1.4vw;
    border-bottom: 2px dashed #8CC084;
    padding-bottom: 2%;
    margin-bottom: 3%;
}

.insideLabel{
    font-size: .8vw;
    display: flex;
    justify-content: flex-start;
    gap: 5px;
    cursor: pointer;
}

.insideLabel.child{
   margin-left: 30px;
}

/* From here is for the pop ups  */
.mapPopup{
    text-align: center;
    font-family: "Cascadia Code", sans-serif;
   box-sizing: border-box;
}

.mapPopup h3{
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-thickness: .25vw;
    font-size: 1vw;
}

/* come back here for color  */
.mapPopup a.detailsTrigger{
    color: rgb(23, 161, 58);
    font-size: .5vw;
    text-decoration: underline;
    font-weight: bold;
    cursor: pointer;
}

.dealDetails{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 30vw;
    border-radius: 20px;
    z-index: 10000;
    padding: 2vw;

    font-family: "Cascadia Code", sans-serif;
    background-color: white;
    border: 3px dashed #8CC084;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 7px 29px 0px;

    display: none; 
    overflow: hidden; 
}

.dealDetails .closeModal {
    position: absolute;
    top: 1vw;
    right: 1.5vw;
    color: rgb(19, 180, 19);
    font-size: 1.5vw;
    font-weight: bold;
    cursor: pointer;
    line-height: 1;
}

.dealDetails .modalBody a.externalLink{
    display: block;
    text-align: center;
    color: rgb(23, 161, 58);
    text-decoration: underline;
    font-weight: bold;
    font-size: .8vw;
}
.leaflet-marker-icon {
    transition: width 0.2s ease, height 0.2s ease, margin 0.2s ease;
}
/* mediaquerystuff if i get to it */
@media only screen and (max-width: 850px){
    #sideMenu{
        width: 80%;
    }
    #toggle{
        font-size: 12vw;
        top: 95px;
    }
    .selector{
        width: 50vw;
    }
    .insideTitle {
    font-size: 6vw;
    }
    .insideLabel {
    font-size: 5vw;
    }
}

@media only screen and (min-width: 300px) and (max-width:1000px){
    .mapPopup a.detailsTrigger{
    color: rgb(23, 161, 58);
    font-size: .8vw;
    text-decoration: underline;
    font-weight: bold;
    cursor: pointer;
}
}
